#user-info {
  text-align: center;
}

#user-info #users {
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto 2% auto;
  width: 90%;
}

#user-info #user {
  list-style: none;
  background-color: aqua;
  padding: 2rem;
  border: 1px solid aqua;
  border-radius: 10px;
  text-align: center;
  /* margin-left: 2rem; */
  width: 35%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#user-info #user h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

#user-info #user h3 {
  font-size: 2rem;
  display: block;
  color: rgb(0, 0, 106);
}

#user-icon {
  font-size: 2rem;
  font-weight: 700;
}

/* #user-info .btn {
  display: block;
  margin: 0 auto;
} */

#start-btn {
  margin-top: 1%;
}
